{if $retargetingId}
    <script type="text/javascript">
        /* <![CDATA[ */
        var seznam_retargeting_id = {$retargetingId};
        /* ]]> */
    </script>
    <script type="text/javascript" src="//c.imedia.cz/js/retargeting.js"></script>
{/if}